.container {
    display: flex;
    height: 100vh; /* Set the height of the container to full viewport height */
  }
  
  .left-section {
    flex: 1; 
    display: flex;
    justify-content: flex-start; /* Align content to the left horizontally */
    align-items: flex-start; /* Align content to the top vertically */
    padding-left: 10%; 
    padding-top: 10%; 
  }
  
  .left-section h2 {
    color: white; 
    font-size: 2rem; 
  }