.about-container {
  background-color: #f8f9fa; /* Example background color */
  padding: 20px;
}

.about-content {
  max-width: 600px; /* Adjust max-width as needed */
  margin-left: auto; /* Align content to the left */
  margin-right: auto; /* Align content to the left */
  text-align: left; /* Align text to the left */
}