.about-section{
    color: white;
    width: 45%;
}

body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    color: white;
  }


  .profile-picture {
    width: 100px; /* Adjust the size as needed */
    height: 100px; /* Adjust the size as needed */
    border-radius: 50%;
    margin-bottom: 10px;
  }