.contact-container {
  padding: 50px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: column; /*content in a column */
}

#contact-me {
  margin: 0; 
  color: white;
}

.contact-form {
  width: 50%; 
  text-align: center; 
  margin-top: 20px; 
}

.contact-form textarea {
  resize: none; /* Prevent resizing of the textarea */
  padding: 10px; /* Match padding with other inputs */
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin-top: 5px;
  width: calc(100% - 22px); /* Set the width to match other input boxes */
  max-width: calc(100% - 22px); /* Set the maximum width to match other input boxes */
  height: 120px; 
}
.form-group {
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
}

.input-group input,
.input-group textarea {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin-top: 5px;
}


.error-message {
  color: red;
}

button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}


.contact-heading {
  width: 45%; 
  text-align: left; 
  padding-left: 20px; 
}

