body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.home-container {
  display: flex;
  height: 100vh;
}

.text-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;

  font-size: 20px;
  position: relative;
  z-index: 2;
}

.text-section h1 {
  margin-bottom: 20px;
  color: white;
}

.image-section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-section img {
  max-width: 100%;
  height: auto;
}

#typewrite {
  color: #FF0000;
}