

body {
  margin: 0;
  font-family: 'Arial', sans-serif; /* need to change*/
}


.text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50%; /* left half of the screen */
  background: transparent; /* Set background to transparent */
  color: #FF0000;
  font-size: 20px;
  position: relative; 
  z-index: 2; 
}

.text-section h1 {
  margin-bottom: 20px;
  color: white;
}

.typewriter-text {
  margin-bottom: 10px;
}



