


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');



.App {
  overflow: hidden; /* Hide overflow to prevent horizontal scrollbar */
    font-family:  "Roboto","sans-serif" ;


}

.ParticlesContainer {
  z-index: 0; 
}


.overlay {
  height: 100vh;
  overflow-y: auto; /* Enable vertical scrolling for content overflow */
}

.content {
  padding: 20px; 
}
.App {
  position: relative;
}

.ContentWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* content is above the particles */
}
.App {
  position: relative;
}

.ContentWrapper {
  position: relative; 
  z-index: 1; 
}

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; 
}


@media screen and (min-width: 768px) {
    .app {
        font-family: 'Fira Code', sans-serif;
    }
}